{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'petapp/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="sidebar col-lg-2 col-md-3 d-flex flex-column justify-content-between">
                    <div>
                        <h2>PETination</h2>
                        <nav>
                            <div><a href="{% url 'petapp:adopt' %}">Adopt</a></div>
                            <div><a href="{% url 'petapp:index' %}">Random Swipe</a></div>
                            <div><a href="{% url 'petapp:marketplace' %}">Market Place</a></div>
                            <div><a href="{% url 'petapp:chat' %}">Chat</a></div>
                            <div><a href="{% url 'petapp:daycare' %}">Daycare</a></div>
                            <div><a href="{% url 'petapp:petstore' %}">PetStore</a></div>
                            <div><a href="{% url 'petapp:customize' %}">Customize</a></div>
                            <div class="mt-auto">
                                <a href="{% url 'petapp:settings' %}">Settings and Help</a>
                            </div>
                        </nav>
                    </div>
                    {% block nav %}{% endblock %}
                </div>
                <div class="main col-lg-10 col-md-9">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
